body {
  background:grey;
  font-family: Helvetica,sans-serif;
  font-size: 14px;

}
p {
  padding-left: 20px;
}
h1 {
  color: darkred;
}
h3 {
  color: darkred;
}
a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
}
a:hover {
  color: white
}
